<%= render "shared/header" %>

<div id="coordination_form">
  <h2>コーディネートを編集</h2>
  <%= form_with(model: @coordination, local: true) do |f|%>

    <div class="coordination_form_field">
      <label>タイトル<span>必須</span></label><br>
      <%= f.text_field :coordination_title %>
      <p>一覧画面に掲載されます。</p>
    </div>

    <div class="image-field">
      <label>コーディネート画像<span>必須</span></label><br>
      <label class="image-file">
        <p>画像を登録</p>
        <%= f.file_field :image, class: 'hidden' %>
        <div id="image-preview">
          <% if @coordination.image.attached? %>
            <%= image_tag @coordination.image.variant(resize_to_fill: [80, 80]).processed %>
          <% end %>
        </div>
      </label>
      <p>一覧画面に掲載されます。</p>
    </div>

    <div class="coordination_form_field">
      <label>本文</label><br>
      <%= f.text_area :coordination_profile %>
    </div>

    <div>
      <%= f.fields_for :coordination_items do |t| %>
        <%= render "coordinations/coordination_item_fields", f: t %>
      <% end %>
      <div class="coordination_add">
        <%= link_to_add_association "追加", f, :coordination_items %>
      </div>
    </div>

    <div class="coordination_form_action">
      <%= f.submit "変更する" %>
    </div>

  <% end %>
</div>

<%= render "shared/footer" %>