<%= render "shared/header" %>

<!-- 古着コーディネート -->
<div id="coordination">
  <h2>・・・・古着コーディネート・・・・</h2>
  <div class="coordination">
    <div class="coordination_content">
      <div class="coordination_flex">
        <% @coordinations.each do |coordination| %>
          <%= link_to coordination_path(coordination.id), class: 'coordination_box' do %>
            <div class="coordination_img">
              <%= image_tag coordination.image %>
              <div class="coordination_info">
                <%= coordination.coordination_title.truncate(12) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <ul id=“coordination_pagination”>
        <li class=“pagination”><%= paginate @coordinations %></li>
      </ul>
    </div>

    <div class="coordination_right">
      <div class="coordination_btn">
        <%= link_to 'コーディネートを投稿', new_coordination_path, class: "coordination_link" %>
        <%#= link_to '参加中のコミュニティ', root_path, class: "coordination_link" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>