<%= render "shared/header" %>

<!-- 古着コーディネート -->
<div id="coordination">
  <h2>・・・・古着コーディネート・・・・</h2>
  <div class="coordination">
    <div class="coordination_content">
      <div class="coordination_flex">
        <a href="#" class="coordination_box">
          <div class="coordination_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="coordination_info">
              <h3>ユーザー名</h3>
            </div>
          </div>
        </a>
        <%# ダミー開始 %>
        <a href="#" class="coordination_box">
          <div class="coordination_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="coordination_info">
              <h3>ユーザー名</h3>
            </div>
          </div>
        </a>
        <a href="#" class="coordination_box">
          <div class="coordination_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="coordination_info">
              <h3>ユーザー名</h3>
            </div>
          </div>
        </a>
        <a href="#" class="coordination_box">
          <div class="coordination_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="coordination_info">
              <h3>ユーザー名</h3>
            </div>
          </div>
        </a>
        <%# ダミー終了 %>
      </div>
      <ul id=“coordination_pagination”>
        <li class=“pagination”><%#= paginate @communities %></li>
      </ul>
    </div>

    <div class="coordination_right">
      <div class="coordination_btn">
        <%= link_to 'コーディネートを投稿', root_path, class: "coordination_link" %>
        <%#= link_to '参加中のコミュニティ', root_path, class: "coordination_link" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>