<%= render "shared/header" %>

<div id="coordination_show">
  <div class="coordination_show">
    <div class="coordination_show_info">
      <%= image_tag "icon.png" %>
      <h3><%= @coordination.user.user_nickname %></h3>
    </div>
    <div class="coordination_button">
      <% if user_signed_in? %>
        <% if current_user.id == @coordination.user_id %>
          <%= link_to '編集', edit_coordination_path(@coordination.id), method: :get %>
          <%= link_to '削除', coordination_path(@coordination.id), method: :delete %>
        <% else %>
          <div class="caution">
            <%= image_tag "icon2.png" %>
          </div>
          <button>フォローする</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="coordination_content">
    <div class="coordination_content">
      <div class="coordination_left">
        <%= image_tag @coordination.image %>

        <div id="coordination_comment">
          <h3><%= @coordination.user.user_nickname %>さんへのコメント</h3>
          <div class="coordination_comment">
            <% if @coordination.comments.exists? %>
              <% @comments.each do |comment| %>
                <div class="comments">
                  <strong>
                    <%= link_to comment.user.user_nickname, "/users/#{comment.user_id}" %>
                  </strong>
                  <p class="comment_text">
                    <%= comment.text %>
                  </p>
                  <time>
                    <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
                  </time>
                </div>
              <% end %>
            <% else %>
              <p class="no_comment">NO COMMENT</p>
            <% end %>
          </div>
          <div class="coordination_comment_action">
            <% if user_signed_in? %>
              <%= form_with(model: [@coordination, @comment], local: true) do |form| %>
                <%= form.text_area :text, placeholder: "コメントを書く", rows: "3" %>
                <%= form.submit "送信" %>
              <% end %>
            <% else %>
              <strong>
                <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
              </strong>
            <% end %>
          </div>
        </div>

      </div>
      <div class="coordination_right">
        <div class="coordination_rightbox1">
          <p class="coordination_date">
            <%= @coordination.created_at.strftime("%Y/%m/%d") %>
          </p>
          <h3 class="coordination_title">
            <%= @coordination.coordination_title %>
          </h3>
        </div>
        <div class="coordination_rightbox2">
          <%= @coordination.coordination_profile %>
        </div>
        <div class="coordination_rightbox3">
          <table>
            <tr>
              <th><%= @coordination.item.name %>：</th>
              <td><%= @coordination.item_text %></td>
            </tr>
          </table>
        </div>
        <div class="coordination_rightbox4">
          <div class="coordination_share">
            <p>この記事をシェアする</p>
            <%= image_tag "facebook.png" %>
            <%= image_tag "twitter.png" %>
            <%= image_tag "line.png" %>
          </div>
          <div class="coordination_like">
            <%= image_tag "like.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>