<%= render "shared/header" %>

<!-- 古着ニュース -->
<div id="news">
  <h2>・・・・古着ニュース・・・・</h2>
  <div class="news">
    <div class="news_content">
      <div class="news_flex">
        <% @notices.each do |notice|%>
          <%= link_to notice_path(notice.id), method: :get do %>
            <div class="news_box">
              <div class="news_img">
                <%= image_tag notice.thumbnail %>
                <div class="news_info">
                  <p><%= notice.store.store_nickname %></p>
                  <h3><%= notice.notice_title %></h3>
                  <time><%= notice.created_at.strftime("%Y/%m/%d") %></time>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <ul>
        <li><%= paginate @notices %></li>
      </ul>
    </div>

    <div class="news_right">
      <div class="news_btn">
        <%= link_to 'ニュースを新規作成', new_notice_path, class: "news_link" %>
        <%= link_to '人気のニュース', root_path, class: "news_link" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
