<%= render "shared/header" %>

<div id="notice_form">
  <h2>ニュースを作成</h2>
  <%= form_with(model: @notice, local: true) do |f| %>

    <div class="notice_form_field">
      <label>タイトル<span>必須</span></label><br>
      <%= f.text_field :notice_title %>
      <p>一覧画面に掲載されます。</p>
    </div>

    <div class="image-field">
      <label>サムネイル画像<span>必須</span></label><br>
      <label class="image-file">
        <p>画像を登録</p>
        <%= f.file_field :thumbnail, class: 'hidden' %>
        <div id="image-preview">
          <% if @notice.thumbnail.attached? %>
            <%= image_tag @notice.thumbnail.variant(resize_to_fill: [80, 80]).processed %>
          <% end %>
        </div>
      </label>
      <p>一覧画面に掲載されます。</p>
    </div>

    <div class="notice_form_field">
      <label>表示/非表示<span>必須</span></label><br>
      <div class="notice_display">
        <div class="notice_display_true">
          <%= f.radio_button :notice_display, checked: true %>
          <%= f.label :notice_display,"表示",{value: :true}%>
        </div>
        <div class="notice_display_false">
          <%= f.radio_button :notice_display, checked: false %>
          <%= f.label :notice_display,"非表示",{value: :false}%>
        </div>
      </div>
    </div>

    <div>
      <%= f.fields_for :notice_details do |t| %>
        <%= render "notices/notice_detail_fields", f: t %>
      <% end %>
      <div class="notice_add">
        <%= link_to_add_association "追加", f, :notice_details %>
      </div>
    </div>

    <div class="notice_form_action">
      <%= f.submit "作成する" %>
    </div>

  <% end %>
</div>

<%= render "shared/footer" %>
