<div id="user_detail">
  <div class="user_detail_img">
    <%= image_tag "header.png" %>
  </div>
  <div class="user_info_bar">
    <div class="info_bar_box">
      <div class="user_img">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_tag "icon.png" %>
        <% end %>
      </div>
      <div id="user_nav">
        <ul class="user_nav">
          <%= link_to following_user_path(@user) do %>
            <li>フォロー</li>
            <li><%= @user.followings.count %></li>
          <% end %>
          <%= link_to followers_user_path(@user) do %>
            <li>フォロワー</li>
            <li><%= @user.followers.count %></li>
          <% end %>
          <%= link_to root_path do %>
            <li>コミュニティ</li>
            <li><%= @user.community_users.count %></li>
          <% end %>
        </ul>
        <% if signed_in? && @user != current_user%>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= render "relationships/unfollow" %>
            <% else %>
              <%= render "relationships/follow" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>