<%= render "shared/header" %>
<%= render "detail" %>

<div class="user_contents">
  <%= render "menu" %>
  <div class="main_block">
    <ul>
      <li><a href="#">コーディネート</a></li>
      <li><a href="#">コミュニティ</a></li>
    </ul>
    <div class="mypage_coordination">
      <%= render partial: 'coordinations/coordination', locals: { user: @user } %>
    </div>
    <div class="mypage_community">
      <%= render partial: 'communities/community', locals: { user: @user } %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>