<%= render "shared/header" %>

<div>
  <div id="user_detail">
    <div class="user_detail_img">
      <%= image_tag "header.png" %>
    </div>
    <div class="user_info_bar">
      <div class="info_bar_box">
        <div class="user_img">
          <%= image_tag "icon.png"%>
        </div>
        <div id="user_nav">
          <ul class="user_nav">
            <li>フォロー中</li>
            <li>フォロワー</li>
            <li>コミュニティ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="user_contents">
    <div class="user_contents">
      <div class="sub_block">
        <div class="side_box">
          <div class="user_info">
            <h3>
              <%= @user.user_nickname %>
            </h3>
            <p>
              <%= @user.user_profile %>
            </p>
          </div>
        </div>
        <div class="side_box">
          <div class="mypage_side_menu">
            <p class="mypage_menu">メニュー</p>
            <ul>
              <li><%= link_to "コーディネート", root_path %></li>
              <li><%= link_to "コミュニティ", root_path %></li>
              <li><%= link_to "参加コミュニティ", root_path %></li>
              <li><%= link_to "プロフィールを編集", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main_block">
        <ul>
          <li><a href="#">コーディネート</a></li>
          <li><a href="#">コミュニティ</a></li>
        </ul>
        <div class="mypage_coordination">
          <%= render partial: 'coordinations/coordination', locals: { user: @user } %>
        </div>
        <div class="mypage_community">
          <%= render partial: 'communities/community', locals: { user: @user } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>