<footer>
  <div class="footer">
    <div class="footer_top">
      <h1>FurugiSpace</h1>
      <ul class="footer_icon">
        <li><%= image_tag "icon_fb.png" %></li>
        <li><%= image_tag "icon_tw.png" %></li>
        <li><%= image_tag "icon_line.png" %></li>
        <li><%= image_tag "icon_inst.png" %></li>
      </ul>
    </div>
    <div class="footer_bottom">
      <nav id="footer_nav">
        <ul class="footer_nav">
          <li class="nav_list">
            <span>MEDIA</span>
            <ul>
              <li><%= link_to '古着ニュース', notices_path %></li>
            </ul>
          </li>
          <li class="nav_list">
            <span>EVENT</span>
            <ul>
              <li><%= link_to '古着イベント', root_path %></li>
            </ul>
          </li>
          <li class="nav_list">
            <span>COMMUNITY</span>
            <ul>
              <li><%= link_to '古着コミュニティ', root_path %></li>
            </ul>
          </li>
          <li class="nav_list">
            <span>COORDINATION</span>
            <ul>
              <li><%= link_to '古着コーディネート', root_path %></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="footer_list">
        <ul class="footer_list">
          <li>当サイトについて</li>
          <li>よくあるご質問</li>
          <li>運営会社</li>
          <li>プライバシーポリシー</li>
          <li>利用規約</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="copyright">
    <p class="copyright">&copy;&nbsp;2021&nbsp;FurugiSpace</p>
  </div>
</footer>
