<header>
  <div class="header">
    <div class="header_1">
      <div>
        <form action="cgi-bin/example.cgi" method="post">
          <input class="search" type="search" name="search" placeholder="キーワードを入力">
          <input class="submit" type="submit" name="submit" value="検索">
        </form>
      </div>
      <ul class="header_icon">
        <li><%= image_tag "icon_fb.png" %></li>
        <li><%= image_tag "icon_tw.png" %></li>
        <li><%= image_tag "icon_line.png" %></li>
        <li><%= image_tag "icon_inst.png" %></li>
      </ul>
    </div>
  </div>
  <div class="header_2">
    <div class="header_logo">
      <%= link_to(root_path) do %>
        <h1>FurugiSpace<h1>
      <% end %>
    </div>
    <div class="header_if">
      <% if user_signed_in? %>
        <%= link_to(destroy_user_session_path, method: :delete) do %>
          <div class="logout">
            <p>ログアウト</p>
          </div>
        <% end %>
        <div class="mypage">
          <div class="mypage_box">
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
          </div>
        </div>
      <% elsif store_signed_in? %>
        <%= link_to(destroy_store_session_path, method: :delete) do %>
          <div class="logout">
            <p>ログアウト</p>
          </div>
        <% end %>
        <div class="mypage">
          <div class="mypage_box">
            <%= link_to "マイページ", "/stores/#{current_store.id}" %>
          </div>
        </div>
      <% else %>
        <%= react_component("Registration") %>
        <%= react_component("Session") %>
      <% end %>
    </div>
  </div>
  <nav id="header_nav">
    <ul class="header_nav">
      <li><%= link_to '古着ニュース', notices_path %></li>
      <li><%= link_to '古着イベント', events_path %></li>
      <li><%= link_to '古着コミュニティ', communities_path %></li>
      <li><%= link_to '古着コーディネート', coordinations_path %></li>
    </ul>
  </nav>
</header>
