<header>
  <div class="header">
    <div class="header_1">
      <div>
        <form action="cgi-bin/example.cgi" method="post">
          <input class="search" type="search" name="search" placeholder="キーワードを入力">
          <input class="submit" type="submit" name="submit" value="検索">
        </form>
      </div>
      <ul class="header_icon">
        <li><%= image_tag "icon_fb.png" %></li>
        <li><%= image_tag "icon_tw.png" %></li>
        <li><%= image_tag "icon_line.png" %></li>
        <li><%= image_tag "icon_inst.png" %></li>
      </ul>
    </div>
  </div>
  <div class="header_2">
    <div class="header_logo">
      <%= link_to(root_path) do %>
        <h1>FurugiSpace<h1>
      <% end %>
    </div>
    <div class="header_if">
      <%= react_component("Registration") %>
      <%= react_component("Session") %>
    </div>
  </div>
  <nav id="header_nav">
    <ul class="header_nav">
      <li><%= link_to '古着ニュース', notices_path %></li>
      <li><%= link_to '古着イベント', root_path %></li>
      <li><%= link_to '古着コミュニティ', communities_path %></li>
      <li><%= link_to '古着コーディネート', coordinations_path %></li>
    </ul>
  </nav>
</header>