<%= render "shared/header" %>

<!-- 古着ニュース -->
<div class="news">
  <h2>・・・・古着ニュース・・・・</h2>
  <div class="news_flex">
    <a href="#" class="news_box">
      <div class="news_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="news_info">
        <p>FurugiSpace</p>
        <h3>記事タイトルをここに書く。記事タイトルをここに書く。</h3>
        <time>2021/01/01</time>
      </div>
    </a>
    <%# ダミー開始 %>
    <a href="#" class="news_box">
      <div class="news_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="news_info">
        <p>FurugiSpace</p>
        <h3>記事タイトルをここに書く。記事タイトルをここに書く。</h3>
        <time>2021/01/01</time>
      </div>
    </a>
    <a href="#" class="news_box">
      <div class="news_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="news_info">
        <p>FurugiSpace</p>
        <h3>記事タイトルをここに書く。記事タイトルをここに書く。</h3>
        <time>2021/01/01</time>
      </div>
    </a>
    <a href="#" class="news_box">
      <div class="news_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="news_info">
        <p>FurugiSpace</p>
        <h3>記事タイトルをここに書く。記事タイトルをここに書く。</h3>
        <time>2021/01/01</time>
      </div>
    </a>
    <%# ダミー終了 %>
  </div>
  <div class="news_more">
    <a href="#">もっと見る</a>
  </div>
</div>

<!-- 古着イベント -->
<div class="event">
  <h2>・・・・古着イベント・・・・</h2>
  <div class="event_flex">
    <a href="#" class="event_box">
      <div class="event_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="event_info">
        <h3>イベントタイトル。イベントタイトル。</h3>
        <time>2021/01/01~2021/01/03</time>
        <p>東京</p>
      </div>
    </a>
    <%# ダミー開始 %>
    <a href="#" class="event_box">
      <div class="event_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="event_info">
        <h3>イベントタイトル。イベントタイトル。</h3>
        <time>2021/01/01~2021/01/03</time>
        <p>東京</p>
      </div>
    </a>
    <a href="#" class="event_box">
      <div class="event_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="event_info">
        <h3>イベントタイトル。イベントタイトル。</h3>
        <time>2021/01/01~2021/01/03</time>
        <p>東京</p>
      </div>
    </a>
    <a href="#" class="event_box">
      <div class="event_img">
        <%= image_tag "furugi_img01.jpg" %>
      </div>
      <div class="event_info">
        <h3>イベントタイトル。イベントタイトル。</h3>
        <time>2021/01/01~2021/01/03</time>
        <p>東京</p>
      </div>
    </a>
    <%# ダミー終了 %>
  </div>
  <div class="event_more">
    <a href="#">もっと見る</a>
  </div>
</div>

<!-- 古着コミュニティ -->
<div class="community">
  <h2>・・・・古着コミュニティ・・・・</h2>
  <div class="community_flex">
    <a href="#" class="community_box">
      <div class="community_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="community_info">
          <h3>コミュニティ名</h3>
        </div>
      </div>
    </a>
    <%# ダミー開始 %>
    <a href="#" class="community_box">
      <div class="community_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="community_info">
          <h3>コミュニティ名</h3>
        </div>
      </div>
    </a>
    <a href="#" class="community_box">
      <div class="community_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="community_info">
          <h3>コミュニティ名</h3>
        </div>
      </div>
    </a>
    <a href="#" class="community_box">
      <div class="community_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="community_info">
          <h3>コミュニティ名</h3>
        </div>
      </div>
    </a>
    <%# ダミー終了 %>
  </div>
  <div class="community_more">
    <a href="#">コミュニティを探す</a>
  </div>
</div>

<!-- 古着コーディネート -->
<div class="coordination">
  <h2>・・・・古着コーディネート・・・・</h2>
  <div class="coordination_flex">
    <a href="#" class="coordination_box">
      <div class="coordination_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="coordination_info">
          <h3>コーディネート名</h3>
        </div>
      </div>
    </a>
    <%# ダミー開始 %>
    <a href="#" class="coordination_box">
      <div class="coordination_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="coordination_info">
          <h3>コーディネート名</h3>
        </div>
      </div>
    </a>
    <a href="#" class="coordination_box">
      <div class="coordination_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="coordination_info">
          <h3>コーディネート名</h3>
        </div>
      </div>
    </a>
    <a href="#" class="coordination_box">
      <div class="coordination_img">
        <%= image_tag "furugi_img01.jpg" %>
        <div class="coordination_info">
          <h3>コーディネート名</h3>
        </div>
      </div>
    </a>
    <%# ダミー終了 %>
  </div>
  <div class="coordination_more">
    <a href="#">もっと見る</a>
  </div>
</div>

<%= render "shared/footer" %>