<%= render "shared/header" %>

<!-- 古着ニュース -->
<div class="top_news">
  <h2>・・・・古着ニュース・・・・</h2>
  <div class="top_news_flex">
    <% @notices.first(4).each do |notice|%>
      <%= link_to notice_path(notice.id), method: :get do %>
        <div class="top_news_box">
          <div class="top_news_img">
            <%= image_tag notice.thumbnail %>
            <div class="top_news_info">
              <p><%= notice.store.store_nickname %></p>
              <h3><%= notice.notice_title %></h3>
              <time><%= notice.created_at.strftime("%Y/%m/%d") %></time>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top_news_more">
    <%= link_to "もっと見る", notices_path %>
  </div>
</div>

<!-- 古着イベント -->
<div class="top_event">
  <h2>・・・・古着イベント・・・・</h2>
  <div class="top_event_flex">
    <% @events.first(4).each do |event|%>
      <%= link_to event_path(event.id), method: :get do %>
        <div class="top_event_box">
          <div class="top_event_img">
            <%= image_tag event.thumbnail %>
            <div class="top_event_info">
              <p><%= event.store.store_nickname %></p>
              <h3><%= event.event_title %></h3>
              <time><%= event.created_at.strftime("%Y/%m/%d") %></time>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top_event_more">
    <%= link_to "もっと見る", events_path %>
  </div>
</div>

<!-- 古着コミュニティ -->
<div class="top_community">
  <h2>・・・・古着コミュニティ・・・・</h2>
  <div class="top_community_flex">
    <% @communities.first(4).each do |community| %>
      <%= link_to community_path(community.id), class: 'top_community_box' do %>
        <div class="top_community_img">
          <%= image_tag community.image %>
          <div class="top_community_info">
            <h3>
              <%= community.community_title.truncate(12) %>
            </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top_community_more">
    <%= link_to "もっと見る", communities_path %>
  </div>
</div>

<!-- 古着コーディネート -->
<div class="top_coordination">
  <h2>・・・・古着コーディネート・・・・</h2>
  <div class="top_coordination_flex">
    <% @coordinations.first(4).each do |coordination| %>
      <%= link_to coordination_path(coordination.id), class: 'top_coordination_box' do %>
        <div class="top_coordination_img">
          <%= image_tag coordination.image %>
          <div class="top_coordination_info">
            <%= coordination.coordination_title.truncate(12) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top_coordination_more">
    <%= link_to "もっと見る", coordinations_path %>
  </div>
</div>

<%= render "shared/footer" %>