<%= render "shared/header" %>

<div id="event_form">
  <h2>イベントを作成</h2>
  <%= form_with(model: @event, local: true) do |f| %>

    <div class="event_form_field">
      <label>タイトル<span>必須</span></label><br>
      <%= f.text_field :event_title, placeholder: "タイトル20字以内", maxlength:"20" %>
      <p>一覧画面に掲載されます。</p>
    </div>

    <div class="event_form_field">
      <label>サムネイル画像<span>必須</span></label><br>
      <%= f.file_field :thumbnail, class: "event_img" %>
      <p>一覧画面に掲載されます。</p>
    </div>

    <%# ---表示/非表示---%>
    <div class="event_form_field">
      <label>表示/非表示<span>必須</span></label><br>
      <div class="event_display">
        <div class="event_display_true">
          <%= f.radio_button :event_display, checked: true %>
          <%= f.label :event_display,"表示",{value: :true}%>
        </div>
        <div class="event_display_false">
          <%= f.radio_button :event_display, checked: false %>
          <%= f.label :event_display,"非表示",{value: :false}%>
        </div>
      </div>
    </div>

    <div class="event_form_field">
      <label>イベント開催日<span>必須</span></label><br>
      <%= f.text_field :start_on, class: "short_field" %>
    </div>

    <div class="event_form_field">
      <label>イベント終了日<span>必須</span></label><br>
      <%= f.text_field :end_on, class: "short_field" %>
    </div>

    <div class="event_form_field">
      <label>入場料<span>必須</span></label><br>
      <%= f.text_field :entry_fee, placeholder: "最大入力10文字", maxlength:"10", class: "short_field" %>
    </div>

    <div class="event_form_field">
      <label>都道府県<span>必須</span></label><br>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{}, {class: "short_field prefecture_select"}) %>
    </div>

    <div class="event_form_field">
      <label>住所<span>必須</span></label><br>
      <%= f.text_field :event_address %>
    </div>

    <div class="event_form_field">
      <label>イベント会場<span>必須</span></label><br>
      <%= f.text_field :venue %>
    </div>

    <%# ---マップ---%>
    <%# <div class="event_map_main">
      <div class="event_map_primary">
        <div class ="event_map_secondary">
          <h3>マップ</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_map_box">
        <%#= f.text_field :map %>
      <%# </div>
      <div class="event_map_quaternary">
        <p>最大入力1000文字</p>
      </div>
      <div class="event_map_fifthperiod">
        <p>※GoogleMapの埋め込みタグを挿入してください。</p>
      </div>
    </div> %>

    <div>
      <%= f.fields_for :event_details do |t| %>
        <%= render "events/event_detail_fields", f: t %>
      <% end %>
      <div class="event_add">
        <%= link_to_add_association "追加", f, :event_details %>
      </div>
    </div>

    <div class="event_form_action">
      <%= f.submit "投稿" %>
    </div>

  <% end %>
</div>

<%= render "shared/footer" %>
