<%= render "shared/header" %>

<div id="event_post">
  <h2>・・・・古着イベント・・・・</h2>
  <%= form_with(model: @event, local: true) do |f| %>
    <%#----- ニュースタイトル入力フォーム----- %>
    <div class="event_title_main">
      <div class="event_title_primary">
        <div class="event_title_secondary">
          <h3>タイトル</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_title_box">
        <%= f.text_field :event_title,  placeholder: "タイトル20字以内",maxlength:"20" %>
      </div>
      <div class="event_title_quaternary">
        <p>一覧画面に掲載されます。</p>
      </div>
    </div>
    <%#---ニュースサムネイル画像登録フォーム---%>
    <div class="event_thumbnail_main">
      <div class="event_thumbnail_primary">
        <div class="event_thumbnail_secondary">
          <h3>サムネイル画像</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_thumbnail_box">
        <h3>画像を登録</h3>
        <%= f.file_field :thumbnail %>
      </div>
      <div class="event_title_quaternary">
        <p>一覧画面に掲載されます。</p>
      </div>
    </div>
    <%# ---表示/非表示---%>
    <div class="event_thumbnail_main">
      <div class="event_thumbnail_primary">
        <div class="event_thumbnail_secondary">
          <h3>表示/非表示</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_display_radio">
        <div class="event_display_radio_true">
          <%= f.radio_button :event_display, checked: true %>
          <%= f.label :event_display,"表示",{value: :true}%>
        </div>
        <div class="event_display_radio_false">
          <%= f.radio_button :event_display, checked: false %>
          <%= f.label :event_display,"非表示",{value: :false}%>
        </div>
      </div>
    </div>
    <%# ---イベント開催日---%>
    <div class="event_start_on_main">
      <div class="event_start_on_primary">
        <div class ="event_start_on_secondary">
          <h3>イベント開催日</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_start_on_box">
        <%= f.text_field :start_on %>
      </div>
    </div>
    <%# ---イベント終了日---%>
    <div class="event_end_on_main">
      <div class="event_end_on_primary">
        <div class ="event_end_on_secondary">
          <h3>イベント終了日</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_end_on_box">
        <%= f.text_field :end_on %>
      </div>
    </div>
    <%#---入場料---%>
    <div class="event_entry_fee_main">
      <div class="event_entry_fee_primary">
        <div class ="event_entry_fee_secondary">
          <h3>入場料</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_entry_fee_box">
        <%= f.text_field :entry_fee, placeholder: "最大入力10文字", maxlength:"10" %>
      </div>
    </div>
    <%# ---都道府県---%>
    <div class="event_prefecture_main">
      <div class="event_prefecture_primary">
        <div class ="event_prefecture_secondary">
          <h3>都道府県</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_prefecture_box">
        <%= f.collection_select(:prefecture_id,Prefecture.all, :id, :name,{}) %>
      </div>
    </div>
    <%# ---住所---%>
    <div class="event_event_address_main">
      <div class="event_event_address_primary">
        <div class ="event_event_address_secondary">
          <h3>住所</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_event_address_box">
        <%= f.text_field :event_address %>
      </div>
    </div>
    <%# ---イベント会場---%>
    <div class="event_venue_main">
      <div class="event_venue_primary">
        <div class ="event_venue_secondary">
          <h3>イベント会場</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_venue_box">
        <%= f.text_field :venue %>
      </div>
    </div>
    <%# ---マップ---%>
    <%# <div class="event_map_main">
      <div class="event_map_primary">
        <div class ="event_map_secondary">
          <h3>マップ</h3>
        </div>
        <div class="event_common">
          <span>必須</span>
        </div>
      </div>
      <div class="event_map_box">
        <%#= f.text_field :map %>
      <%# </div>
      <div class="event_map_quaternary">
        <p>最大入力1000文字</p>
      </div>
      <div class="event_map_fifthperiod">
        <p>※GoogleMapの埋め込みタグを挿入してください。</p>
      </div>
    </div> %>

    <div>
      <%= f.fields_for :event_details do |t| %>
        <%= render "events/event_detail_fields", f: t %>
      <% end %>
      <div class="event_add">
        <%= link_to_add_association "追加", f, :event_details %>
      </div>
    </div>

    <div class="event_btn">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>
