<%= render "shared/header" %>

<!-- 古着コミュニティ -->
<div id="community">
  <h2>・・・・古着コミュニティ・・・・</h2>
  <div class="community">
    <div class="community_content">
      <div class="community_flex">
        <a href="#" class="community_box">
          <div class="community_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="community_info">
              <h3>コミュニティ名</h3>
            </div>
          </div>
        </a>
        <%# ダミー開始 %>
        <a href="#" class="community_box">
          <div class="community_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="community_info">
              <h3>コミュニティ名</h3>
            </div>
          </div>
        </a>
        <a href="#" class="community_box">
          <div class="community_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="community_info">
              <h3>コミュニティ名</h3>
            </div>
          </div>
        </a>
        <a href="#" class="community_box">
          <div class="community_img">
            <%= image_tag "furugi_img01.jpg" %>
            <div class="community_info">
              <h3>コミュニティ名</h3>
            </div>
          </div>
        </a>
        <%# ダミー終了 %>
      </div>
      <ul id=“community_pagination”>
        <li class=“pagination”><%= paginate @communities %></li>
      </ul>
    </div>

    <div class="community_right">
      <div class="community_btn">
        <%= link_to 'コミュニティを新規作成', new_community_path, class: "community_link" %>
        <%= link_to '参加中のコミュニティ', root_path, class: "community_link" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>