<%= render "shared/header" %>
<%= render "users/detail" %>

<div class="user_contents">
  <%= render "users/menu" %>
  <section class="user_edit">
    <h2>プロフィールを編集</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%#= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <label>ユーザー名</label><br>
        <%= f.text_field :user_nickname, autofocus: true, autocomplete: "user_nickname" %>
      </div>

      <div class="field">
        <label>メールアドレス</label><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <label>新しいパスワード</label><br>
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"変更しない場合は空白のままにします" %>
      </div>

      <div class="field">
        <label>新しいパスワード（確認用）</label><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field" >
        <label>アイコン画像</label>
        <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar" %>
      </div>

      <div class="field">
        <label>現在のパスワード</label><br>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"変更を確認するには、現在のパスワードが必要です" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する" %>
      </div>
    <% end %>
  </section>
</div>

<%= render "shared/footer" %>